@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --turquoise: #40e0d0;
  --blue-violet: #8a2be2;
  --purple: #800080;
  --dark-purple: #4b0082;
  --pink: #ffc0cb;
  --orange: #ffa500;
  --yellow: #ffff00;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
